<div class="latest-content">
    <h6>Latest Post Activity</h6>
 <div class="latest">


    <div class="latest-details">
        <div class="image">
            <img src="../../../assets/imgs/images (6).jpg" alt="">

        </div>
        <div class="info">
            <h6>Minimalist Stairs</h6>
            <div class="icons">
                <ul>
                    <li>
                        <span class="likes">
                            <i class="fas fa-heart" style="font-size: 15px"></i>
                        </span>
                        <span>1</span>
                    </li>
                    <li>
                        <span>
                            <i class="fas fa-comment-dots" style="font-size: 15px"></i>
                        </span>
                        <span>2</span>
                    </li>
                    <li>
                        <span>
                            <i class="fas fa-bookmark" style="font-size: 15px;"></i>
                        </span>
                        <span>3</span>
                    </li>
                </ul>
              
              
              
            </div>
        </div>

       
    </div>
    <a href="#">See All Posts</a>
</div>
</div>
