   <div class="row">
     <div class="col-md-6 col-sm-6" *ngFor="let item of items">

       <div class="card">
         <a routerLink="">
           <div class="card-image">
             <img [src]="item.image" alt="" />
           </div>
         </a>
         <div class="card-details">
           <div>
             <div class="img-icon">
               <img [src]="item.icon" alt="" />
             </div>
             <p class="name">{{ item.fullname }}</p>
           </div>
           <div>
             <div class="likes" id="{{item.id}}" (click)="colorHeart(item.id,item.liked)">
               <span class="color-icon">
                
                 <i class="fas fa-heart"  *ngIf = "!item.liked"  style="font-size: 17px"></i>
                 <i class="fas fa-heart" *ngIf="item.liked" style="font-size: 17px; "></i>
               </span>
               <span>
               {{item.count}}
               </span>
             </div>
             <div class="comments">
               <span>
                 <i class="fas fa-comment-dots" style="font-size: 17px"></i>
               </span>
               <span>
                 {{ item.comments }}
               </span>
             </div>
           </div>
         </div>
       </div>
     
     </div>
   </div>
