$color-grey-light:#A9B5D8;
$color-blue:#293A6B;
$color-blueviolet:#A975FF;
$color-white:#FFFFFF;
$color-green-light:#F6FAFF;
$color-border:#F1FBFF;
$color-baby-blue:#59B9FF;
// $color-blueviolet:#ff7587;
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
h6{
    font-size: 1.5rem;
    font-weight: 600;
    // margin-left: 4rem;
    color: $color-blue;
  }