.container
{
    max-width:120rem;
    margin:8rem auto;
    background-color:grey;
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
    min-height: 50rem;
    padding: 0 !important;
    background-color: $color-white;
    border-radius: 3rem;
    .content{
display: flex;
// padding: 3rem 3rem;
padding: 1rem;
    
    .sidebar{

        background-color: $color-white;
        flex: 0 0 18%;
        padding: 3rem 0;
    }
    .home{
        flex:1;
        background-color: $color-green-light;
        padding: 3rem 0;
        border-top-right-radius: 3rem;
    }
}
}