<div class="menu-content">
  <div class="menu-header">
      <span class="header-icon"></span>
    <h2>Cofeed</h2>
  </div>
  <div class="menu-list">
    <p>Menu</p>
    <ul class="list">
      <li>
        <a routerLink='home' routerLinkActive="active">
         <span class="icon"><i class="fas fa-home" style="font-size: 17px;"></i> </span> 
          <span class="text"> Home </span>
        </a>
      </li>
      <li>
        <a  routerLink='messages' routerLinkActive="active">
            <span class="icon">  <i class="fas fa-comment-dots" style="font-size: 17px;"></i></span>
          <span class="text"> Messages </span>
        </a>
      </li>
      <li>
        <a  routerLink='/profile' routerLinkActive="active">
            <span class="icon"> <i class="fas fa-user" style="font-size: 17px;"></i> </span>

          <span class="text"> Profile </span>
        </a>
      </li>
      <li>
        <a  routerLink='/posts' routerLinkActive="active">
        <span class="icon">  <i class="fas fa-bookmark" style="font-size: 17px;"></i> </span>
          <span class="text"> Saved Posts </span>
        </a>
      </li>
      <li>
        <a  routerLink='/settings' routerLinkActive="active">
            <span class="icon">  <i class="fas fa-cog" style="font-size: 17px;"></i> </span>
          <span class="text"> Settings </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="menu-account">
      <div class="account-header">
          <h6>Account</h6>
          <span><i class="fas fa-angle-down" style="font-size: 20px;"></i></span>
      </div>
      <div class="account-data">
     <!-- <app-suggestions [data]=data></app-suggestions> -->
  <div class="image">
      <img src="../../../assets/imgs/images (4).jpg" alt="" />
    </div>
    <div class="name">
      <span class="first-name">
      <a href="">Khloud</a> 
      </span>
      <span class="full-name">@khloudramm_</span>
    </div> 
      </div>
      <div class="store-pic">
          <div class="overlay">
              <p>get cofeed on App Store</p>
          </div>
      </div>
  </div>
</div>
